<%- include('../partials/header') %>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Airline</th>
      <th scope="col">Flight Number</th>
      <th scope="col">Departure Time</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% flightDocs.forEach(function(flightDoc){ %>
    <tr>
      <td><%=flightDoc.airline%></td>
      <td><%=flightDoc.flightNo%></td>
      <td><%=moment(flightDoc.departs).format("MMM D YYYY, h:mm a")%></td>
      <td>
        <a class="btn btn-primary" href="/flights/<%=flightDoc._id%>" role="button">Details</a>
      </td>
    </tr>
    <% }) %>

    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
  </tbody>
</table>


<a class="btn btn-primary" href="/flights/new" role="button">New Flight</a>
<%- include('../partials/footer') %>